.MainContainerSplash{
    /* background-color: red; */
    display:flex;
    align-items: center;
    justify-content: space-around;  
}
/* .ApiStreetHolder{
    background-color: pink;
  
} */
/* .InputHodler{
    background-color: aquamarine;
} */
.FormAddress{
    /* background-color: blue; */
    display: flex;
    align-items:flex-start;
    justify-content: flex-start; 
    flex-direction: column;
}
.FormAddress input{
     /* background-color: pink; */
     min-width: 55px;
     min-height: 23px;
     border-radius: 25px;
     border:none;
     padding-left:10px;
     padding-right: 10px;
    margin:5px;
     width: 300px;
     border:2px solid black;
}
.FullInputForm{
    width: 300px;
}
.SubmitBtnFormContainer{
    display: flex;
    align-items:center;
    justify-content: center; 
    /* background-color: aqua; */
    min-width: 100%;
    height:90px;
}
.SubmitBtnForm{
    background-color: white;
    color: olive;  
    /* height: 30px; */
    min-width: 400px;
    height: 40px;
}

.SubmitBtnForm:hover{
    background-color: olive;
    color: white;  
  
    cursor: pointer;
}
.MainContainerSplash h1{
    font-size:80px;
}