.MainContainerSplash{
    /* background-color: red; */
    display:flex;
    align-items: center;
    justify-content: space-around;  
    flex-direction: column;
    /* padding:4rem; */
    height: 100vh;
}
.MainContainerSplashMini{
    /* background-color: red; */
    display:flex;
    /* align-items: center; */
    justify-content: space-between;    
    padding:4rem;
}
.MainContainerSplash h1{
    font-size:80px;
}
.ApiStreetHolder{
    background-color: pink; 
} 
.heading{
    padding:2rem;
}

.SubmitBtnForm{
    background-color: white;
    color: olive;  
    height: 30px;
    border:2ox solid black;
    min-width: 400px;
    height: 40px;
    border-radius: 25px;
}

.SubmitBtnForm:hover{
    background-color: olive;
    color: white;  
    cursor: pointer;
}
.InputHodler{
    /* background-color: aquamarine; */
}
.buttonContainer{
    margin:.6rem;
    /* background-color: aquamarine; */
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;  
}
.radioButtonHolder{
    background-color: transparent;
    min-width:500px;
}
.individualRadio{
    background-color: orange;
}